.progress-bar {
    background-color: red;
    height: 10px;
}

.ans-btn {
    border: 1px solid #000000;
    background-color: #E5E6E5;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    padding: 10px 28px;
    color: black;
}

.btn-div {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.score-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vb;  
}

.score-div h2 {
    font-size: 45px;
}

.score-div button {
    padding: 15px 20px;
}

.answer-heading {
    text-transform: uppercase;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;


}

.loader-sec {
    display: flex;
    height: 100vb;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.score-bar {
    height: 10px;
    background-color: yellow;
}

.score {
    text-align: right;
}